.root{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 80px;
}
h6{
    text-align: end;
    color: #a0a0a0;
}
h1{
    font-size: xx-large;
    font-weight: bolder;
    text-align: end;
}
h3{
    text-align: end;
    width: max-content;
    margin-left: 64px;
    display: inline-block;
    
}
h4{
    display: inline-block;
    border-radius: 20px;
}
.line{
    border: solid rgb(85, 85, 85);
    width: 500px;
    border-radius: 10px;
}
.all{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
}
#demo{
    font-size: 40px
}
.mojood{
    color: rgb(0, 194, 0);
    font-size: larger;
    text-align: end;
}
button{
    width: 440px;
    padding: 1rem;
    border-radius: 10px;
}
button:hover{
    background-color: black;
    color: aliceblue;
}